version: '3.8'

services:
  php:
    build:
      context: ./backend
    container_name: php_backend
    volumes:
      - ./backend:/var/www/html
    ports:
      - "9000:9000"
    networks:
      - app-network

  nextjs:
    build:
      context: ./frontend
    container_name: nextjs_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules  # Prevent overwriting node_modules
    ports:
      - "3000:3000"
    networks:
      - app-network

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
      - nextjs
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
